.jumbotron {background-image: url(../images/books-banner.jpg);}

.container1 {text-align: center;}
#score {text-align: center;}
#start {text-align: center;
		}

#button {background-color: #ff6666;}		

